* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 10px 50px; 
    background-color: rgba(26, 27, 51, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    gap: 10px; 
}


.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding: 0; 
    margin: 0;
    transition: transform 0.3s ease, opacity 0.3s ease; 
}

.logo img {
    max-width: 100px; 
    height: 100px;
    border-radius: 20%; 
    /* border: 3px solid #A0C4FF;  */
    object-fit: cover; 
    transition: transform 0.3s ease, filter 0.3s ease; 
}


.logo:hover img {
    transform: scale(1.1); 
    filter: brightness(1.2) drop-shadow(0 0 10px rgba(160, 196, 255, 0.7)); 
}


.logo:hover {
    opacity: 0.9; 
    transform: translateY(-5px); 
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0; 
    padding: 0; 
    gap: 10px; 
}
nav ul li {
    margin-left: 20px;
    cursor: pointer;
    font-size: 1em; 
    color: #E0E0E0;
    display: flex;
    align-items: center;
    transition: color 0.3s; 
}

nav ul li:hover {
    color: #A0C4FF; 
}

nav ul li i {
    margin-right: 8px;
}

nav ul li.login {
    color: #A0C4FF;
    font-weight: bold;
}
.container {
    text-align: center;
    background-color: #162447;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 400px;
    margin: 20px auto; 
    transition: transform 0.3s ease; 
}

.title {
    font-size: 48px;
    font-weight: bold; 
    color: #A0C4FF;
    text-align: center; 
    margin: 0 0 30px 0; 
    padding-top: 20px; 
}
.title:hover {
    transform: scale(1.2);  
    transition: background-color 0.3s ease, color 0.3s, transform 0.3s ease, border 0.3s;
}
.tab {
    /* height: 55px; */
    display: flex;
    background-color: #3d5680;
    justify-content: space-around;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%; 
}

.tab:hover {
    transform: scale(1.2);  
    border: 2px solid #A0C4FF;
    transition: background-color 0.3s ease, color 0.3s, transform 0.3s ease, border 0.3s;
}
.btn {
    background-color: #3d5680;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #162447;
    color: #ffffff; 
    transform: scale(1.2);  
    border: 2px solid #A0C4FF;
    transition: background-color 0.3s ease, color 0.3s, transform 0.3s ease, border 0.3s;
    filter: brightness(1.2); 
}

.button-container {
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s ease; 
}

.button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s;
}

.inspire-button {
    background-color: #2980B9; 
}

.start-chatting-button {
    background-color: #2980B9; 
}


.inspire-button:hover, 
.start-chatting-button:hover {
    filter: brightness(1.2);
    border: 2px solid #A0C4FF;
    transform: scale(1.05); 
}

.container:hover {
    transform: scale(1.05);
}

.chat-input {
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    color: #333333;
    width: 100%;
    font-size: 16px;
    transition: border-color 0.3s;
}


.chat-input:hover {
    border: 2px solid #A0C4FF; 
}